.box-model {
	background: #ccc;
    padding: 2rem 0 2rem .5rem;
    text-align: center;
}

/*Fonts*/
h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

h2 {
    font-family: canada-type-gibson,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: #3F3F3F;
}

h3 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #3F3F3F;
}

.yellow {
    color: #FAC952;
}

html, body {
    height: 100%;
    width: 100%;
    /*scroll-behavior: smooth;*/
}

/*Header*/

#mainHeader {
    background-color: #fff;
}

.logoImg {
    width: 15%;
    display:inline;
    margin-right: 2%;
}

.logoText {
    color: #707070;
    display: inline;
    font-size: 2em;
}

#match {
    color: #ff8503;
}

#mainNav {
    background-color: white;
}

.title-bar {
    background-color: white;
}

.menu-icon::after {
	background-color: #707070;
	box-shadow: 0 7px 0 #707070, 0 14px 0 #707070;
}

#mainNav {
	list-style-type: none;
    text-align: center;
    margin: 0;
}

#mainNav li {
    border-bottom: 1px solid #fff;
}

#mainNav li:first-child {
	border-top: 1px solid #efefef;
}

#mainNav li:last-child {
	margin-bottom: 5px;
}

#mainNav li a {
	display: block;
	padding: 5px 0 5px 0;
	color: #fff;
	background-color: #ff8503;
}

#mainNav li a:hover {
	background-color: #fff;
	color: #ff8503;
}

/*Hero Section*/
#heroSection {
    background: linear-gradient(rgba(255, 133, 3, 0.5), rgba(255, 133, 3, 0.5)),
                url(../images/heroImg.jpg) no-repeat center fixed;
    text-align: center;
    height: 93vh;
    display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#heroSection h1 {
    padding-top: 45%;
    color:  white;
    font-size: 4em;
    line-height: 100%;

}

#heroSection h3 {
    color:  white;
}

/*Mission Section*/
#missionSection {
    height: 93vh;
    padding-top: 30%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}

#missionSection h2 {
    font-size: 2.6em;
    margin-bottom: 10%;
}

/*Video Section*/
#videoSection {
    background: url(../images/video_placeholder.jpg) no-repeat center center fixed;
    background-size: 100%;
    background-color: #ccc;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */

}

/*Story Section*/
#storySection {
    height: 93vh;
    padding-top: 25%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}

#storySection h2 {
    font-size: 2.6em;
    margin-bottom: 10%;
}

/*Team Section*/
#teamSection {
    height: 93vh;
    background-color: #ff8503;
}

.teamSectionBio {
    background: linear-gradient(rgba(255, 133, 3, 0.9), rgba(255, 133, 3, 0.9)),
                url(../images/bio_bckgrd.jpg) no-repeat center fixed;
    background-size: 300%;
    height: 42vh;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.teamSectionBio h1 {
    color: white;
    font-size: 2em;
}

.teamSectionBio h2 {
    color: white;
    font-size: 1.6em;
    padding-bottom: 5%;
}

.teamSectionBio p {
    color: white;
    text-align: left;
}

#teamMeet {
    background-color: white;
    width: 50%;
    float: right;
    height: 25vh;
}

#teamMeet h2 {
    text-align: center;
    padding-top: 15%;
    font-size: 2.6em;
    color: #3F3F3F;
}

#team4 {
    float: right;
}

.team {
    height: 25vh;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.team:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*Services Section*/
#servicesSection {
    height: 93vh;
    padding-top: 25%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
}

#servicesSection h2 {
    font-size: 2.6em;
    margin-bottom: 10%;
    text-align: center;
}

#servicesSection ul {
    list-style: none;
    font-size: 1.4em;
    line-height: 150%;
    font-family: canada-type-gibson, sans-serif;
    color: #3F3F3F;
}

#servicesSection ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FAC952;
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.4em;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  /*Portfolio Section*/
  .portfolio {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 110%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff8503;
  }
  
  .portfolio:hover .overlay {
    opacity: .9;
  }
  
  .overlayText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*Contact Section*/
  #contactSection {
    height: 93vh;
    background-color: #eee;
    padding-top: 25%;
    padding-left: 12%;
    padding-right: 12%;
    color: #3F3F3F;
    text-align: center;
  }

  ::placeholder {
      font-family: canada-type-gibson, sans-serif;
      color: #3F3F3F;
  }

  #message {
      margin-bottom: 10%;
  }

  #contactButton {
    background-color: #FAC952;
	font-family: canada-type-gibson, sans-serif;
	font-size: 1.2em;
	color: #3F3F3F;
    padding: 15px 50px;
	transition: .3s;
	text-decoration-color: #fff;
  }

    /*Footer*/
    #mainFooter {
        background-color: #ff8503;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    #socialMedia {
        padding-bottom: 5%;
    }

    #socialMedia a{
        padding-left: 5%;
        padding-right: 5%;
    }

    #socialMedia img {
        width: 10%;
    }


    /*PORTFOLIO PAGE-----------------------------------------------------------------------------*/
    /*Hero Section*/
    #heroSection_portfolio {
        background: linear-gradient(rgba(255, 133, 3, 0.5), rgba(255, 133, 3, 0.5)),
                    url(../images/heroImg_portfolio.jpg) no-repeat center fixed;
        text-align: center;
        height: 92vh;
        display: block;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
    }

    #heroSection_portfolio img {
        width: 10%;
    }

@media screen and (min-width: 40em) /*L Phone Size*/ {
    .teamSectionBio {
        height: 30vh;
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #teamMeet {
        height: 30vh;
        padding-top: 5%;
    }
    
    .team {
        height: 30vh;
        width: 50%;
    }

    .teamSectionBio h1 {
        font-size: 1.8em;
    }
    
    .teamSectionBio h2 {
        font-size: 1.4em;
        padding-bottom: 0%;
    }
}

@media screen and (min-width: 48em) /*Tablet Size*/ {
    #heroSection h1 {
        padding-top:35%;
        font-size: 5em;
    }

    #storySection {
        padding-top: 20%;
    }

    #storySection h2 {
        margin-bottom: 5%;
    }

    #teamSection {
        height: 132vh;
    }

    #teamMeet {
        height: 46vh;
    }

    .team {
        height: 46vh;
    }
    
    #teamMeet h2 {
        padding: 18%;
        font-size: 3em;
    }

    .teamSectionBio {
        height: 40vh;
    }

    /*Services Section*/
    #servicesSection {
        padding-top: 20%;
    }

    #servicesSection ul {
        column-count: 2;
        column-gap: 10%;
        padding-left: 10%;
        font-size: 1.6em;
        line-height: 2em;
    }

    #socialMedia img {
        width: 8%;
    }
}

@media screen and (min-width: 64em) /*Laptop Small Size*/ {

    #mainHeader {
        padding: 10px;
    }

	#mainNav {
		text-align: right;
		float: left;
        background-color: transparent;
        float: right;
        padding-top: 1%;
	}

	#mainNav li {
		border-bottom: none;
        display: inline;
        padding: 20px;
        font-size: 1em;
	}

	#mainNav li a {
		display: inline;
		color: #707070;
		background-color: transparent;

    }
    
    #mainNav li a:hover {
		background-color: transparent;
		color: #ff8503;
    }
    
    #heroSection h1 {
        padding-top: 25%;
    }

    #heroSection h3 {
        font-size: 1.6em;
    }

    /*Mission Section*/
    #missionSection {
        padding-top: 16%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #missionSection h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }

    #missionSection p {
        font-size: 1.2em;
    }

    /*Story Section*/
    #storySection {
        column-count: 2;
        column-gap: 8%;
        padding-top: 12%;
        padding-left: 20%;
        padding-right: 20%;
        text-align: left;
    }

    #storySection h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }

    #storySection p {
        font-size: 1.2em;
    }

    #teamSection {
        height: 93vh;
        overflow: hidden;
    }

    .teamSectionBio {
        height: 93vh;
        padding-top: 20%;
    }

    #teamMeet {
        height: 93vh;
        padding-top: 40%;
    }

    .team {
        height: 31vh;
    }

    #team4 {
        float: none;
    }

    /*Services Section*/
    #servicesSection {
        height: 93vh;
        padding-top: 8%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;
        
    }

    #servicesSection ul {
        column-count: 2;
        column-gap: 8%;
        padding-left: 15%;
        font-size: 1.8em;
    }

    #servicesSection h2 {
        font-size: 3em;
    }

    /*Portfolio Section*/
    #portfolioSection {
        height: 93vh;
        overflow: hidden;
    }

    .portfolio {
        height: 46vh;
    }

    #contactSection {
        padding-top: 15%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #contactSection h1 {
        font-size: 3em;
    }

    #contactSection p {
        font-size: 1.2em;
        padding-bottom: 5%;
    }

    #name {
        float: left;
        width: 49%;
    }

    #email {
        float: right;
        width: 49%;
    }

    #contactButton {
        float: left;
    }

    #socialMedia {
        float: right;
    }

    #socialMedia img {
        width: 10%;
    }
}

@media screen and (min-width: 84.125em) { /*medium laptop*/
    #teamMeet {
        height: 50vh;
        padding-top: 10%;
    }

    .team {
        height: 50vh;
    }

    #team4 {
        float: right;
    }
}

@media screen and (min-width: 90em) /*Large Laptop Size*/ {
    #heroSection h1 {
        padding-top: 18%;
    }

    /*Mission Section*/
    #missionSection {
        padding-top: 12%;
        padding-left: 25%;
        padding-right: 25%;
    }

    #missionSection h2 {
        font-size: 3.2em;
        margin-bottom: 5%;
    }

    #missionSection p {
        font-size: 1.4em;
    }

    #storySection {
        column-gap: 4%;
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 25%;
    }

    #storySection h2 {
        font-size: 3.2em;
        margin-bottom: 5%;
    }

    #storySection p {
        font-size: 1.4em;
    }

    .teamSectionBio {
        padding-top: 15%;
    }

    .teamSectionBio h1 {
        font-size: 2.6em;
    }

    .teamSectionBio h2 {
        font-size: 2em;
    }

    .teamSectionBio p {
        font-size: 1.4em;
    }

    #contactSection {
        padding-top: 12%;
    }

    #contactSection h2 {
        font-size: 3.2em;
    }

    #contactSection p {
        font-size: 1.4em;
    }

    #mainFooter {
        padding-left: 0%;
    }

}